.DS_Store
node_modules
npm-debug.log
bower_components
dist
.sass-cache
.awspublish*
config.json
00-Code/Iconr
01-Design/Iconr
01-Design/00-Assets/Iconr
01-Design/00-Assets/social-icons/Iconr
Base_Template/Iconr
Base_Template/archived-versions/Iconr
